Flask>=3.0,<4
gunicorn>=22,<24
Werkzeug>=3.0,<4

numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
matplotlib>=3.8,<3.10
Pillow>=10,<11

torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

jupyter>=1.0,<2
ipykernel>=6.29,<7
tensorboard>=2.16,<2.18

opencv-python-headless>=4.9,<4.11